<div class="modal-container">
  <div class="modal-title"><span>{{data.Name}}</span></div>
  <mat-tab-group mat-align-tabs="center" #tabs>
    <mat-tab  *ngFor="let question of data.Questions;index as i" [disabled]="!EnabledTab(i)" [label]="toString(i + 1)">
      <div class="modal-question"><span>{{question.Description}}</span></div>
      <div class="modal-answers-container">
        <div *ngFor="let ans of question.Answers;" class="answer"
        (click)="OnAnswerClick(ans, tabs)" [class]="ShowOptionResult(ans)">
          <span>{{ans.Description}}</span>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="buttons">
    <button mat-button [disabled]="!enableCloseButton" (click)="CloseModal()">Finalizar</button>
  </div>
</div>
