.exam{
  max-width: 250px;
  min-height: 300px;
  margin: 10px;
  box-shadow: 2px 2px 5px gray;
}

.exams-container{
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;

}
.exam-img{
  padding: 35px;
}


.flex-column
{
  display: flex;
  flex-direction: column;
}

