.exam{
  max-width: 300px;
  min-height: 400px;
  margin: 10px;
  box-shadow: 2px 2px 5px gray;
}

.exams-container{
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;

}
.exam-img{
  padding: 35px;
}
.page-bg{
  background-image: url("../../../assets/img/finanzas_fondo2.jpg");
  background-repeat: repeat;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  width: 100vw;
  height: 100vh;
}

.flex-column
{
  display: flex;
  flex-direction: column;
}

