<div class="exams-container">

  <mat-card *ngFor="let exam of exams"  class="exam">
    <mat-card-header>
      <mat-card-title>{{exam.Name}}</mat-card-title>
    <mat-card-subtitle>Experiencia por completarlo: {{GetExamTotalExperience(exam.Id)}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/libros.webp" alt="Photo of a Shiba Inu">
  <mat-card-content>
    Este examen tiene {{exam.Questions.length}} preguntas
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="OpenExamModal(exam.Id)">Tomar examer</button>
  </mat-card-actions>
</mat-card>
</div>
