<div class="profile-container">
    <div class="header-container">
        <div class="picture-container">
            <img [src]="profilePicturePath" alt="Profile picture" class="profile-picture">
        </div>
        <div class="user-info-container">
            <span class="fs-3 fw-5 p-2">{{ user.FullName }}</span>
            <span class="fs-3 fw-5 p-2">{{ user.Username }}</span>
            <span class="fs-3 fw-5 p-2">XP: {{ user.Level.CurrentXP }}</span>
            <span class="fs-3 fw-5 p-2">Nivel: {{ user.Level.CurrentLevel }}</span>
            <span class="fs-3 fw-5 p-2">Insignias: {{ user.Badges.length }}</span>
        </div>
        <div class="user-lavel-container">
            <div class="level">
                <span class="fs-2 fw-2 p-1">LVL</span>
                <span class="fw-bold level-size">{{ user.Level.CurrentLevel }}</span>
            </div>
            <div class="level-bar-container">
                <span class="fs-2 fw-5">{{user.Level.CurrentLevel}}</span>
                <div class="level-bar">
                    <div class="bar" [style.Width]="CalcBarWidth() + '%'"></div>
                </div>
                <span class="fs-2 fw-5" [title]="'XP ' + user.Level.NeededXP">{{user.Level.CurrentLevel + 1}}</span>
            </div>
            <span class="fs-3 fw-5 p-2">XP: {{ user.Level.CurrentXP }}</span>
        </div>
    </div>
    <div class="body-container">
        <div class="badges-container p-2">
            <div class="badges-header fs-3 fw-bold p-2">
                <span class="fs-3 fw-5 p-2">Tus Insignias</span>
            </div>
            <div class="badges-list p-2">
                <div class="badge" *ngFor="let badge of user.Badges">
                    <div class="badge-img-container">
                        <img [src]="GetBadgeImage(badge)" alt="" class="badge-image">
                    </div> 
                    <div class="badge-description">
                        <span>{{ badge.Description }}</span>
                    </div>
                </div>
                <div class="p-2" *ngIf="!user.Badges.length">
                    <span class="p-2 text-lightgray" >No tienes insignias</span>
                </div>
            </div>
        </div>
    </div>
</div>