.main-container{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.bg-img-park{
  background-image: url("https://thumbs.dreamstime.com/b/paisaje-natural-fondo-de-parque-dibujos-animados-con-%C3%A1rboles-hierba-verde-y-cielo-azul-ilustraci%C3%B3n-vectorial-211447366.jpg");
    background-size: contain;
}

.bg-money{
  background-image: url("../assets/img/finanzas_fondo2.jpg");
  background-repeat: repeat;
}


.main-content{
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
    padding: 0 10px;

}

.header{
    height: 40px;
    margin-bottom: 10px;

}

.sidenav{
    width: 250px;
    padding: 20px;
    color: white;
    background-color: #117A65;
    border-right: 4px solid #0B5345;
}

.menu-option{
    color: white;
    border-radius: 7px;
}

.menu-option:hover{
    background-color: #16A085;
}

.img-menu-cont{
  padding: 5px;
}

.img-menu{
  width: 40px;
}
