<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <div class="p-2 align-center">
            <h3 class="text-center w-100"><span>Tus Finanzas</span></h3>
        </div>
        <mat-selection-list #options [multiple]="false">
            <mat-list-option *ngFor="let option of menuOptions" class="menu-option" (click)="OnClickMenuOption(option, drawer)">
                <div class="content-start align-center">
                    <div>
                        <mat-icon >{{ option.Icon }}</mat-icon>
                    </div>
                    <div>
                        <span class="pl-3">{{ option.Name }}</span>
                    </div>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <div class="header" *ngIf="ShowMenu()">
        <button mat-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="main-content">
        
        <router-outlet></router-outlet>
      
    </div>
</mat-drawer-container>
