.register-container{
    width: 400px;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid rgba(0,0,0,.42);
    border-right: 1px solid rgba(0,0,0,.42);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}