
<div class="videos-container">
    <div class="videos-header p-3">
        <span class="fs-4 fw-5">Video para aprendizaje</span>
    </div>
    <div class="videos p-3">
        <div class="ml-3">
            <iframe width="300" src="https://www.youtube.com/embed/En4hjCKOt8k"  height="215" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="ml-3">
            <iframe width="300" height="215" src="https://www.youtube.com/embed/3e0Li_MM8Gc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="ml-3">
          <iframe width="300" height="215" src="https://www.youtube.com/embed/TiWXAqr4X30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div class="ml-3">
          <iframe width="300" height="215" src="https://www.youtube.com/embed/3u4xlwU70Sc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div class="ml-3">
          <iframe width="300" height="215" src="https://www.youtube.com/embed/8zfdm7YNF_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

        <div class="ml-3">
          <iframe width="300" height="215" src="https://www.youtube.com/embed/I0wQQvS4hxM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div class="ml-3">
          <iframe width="300" height="215" src="https://www.youtube.com/embed/TwpF7hawfGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div class="ml-3">
          <iframe width="300" height="215" src="https://www.youtube.com/embed/4BZGBs8qgUg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
</div>
<div class="page-bg"></div>
